<link rel="stylesheet" href="./components/header/header.css" />

<div id="nav">
  <a href="/">
    <img src="./assets/img/logo.png" alt="" />
  </a>
  <div id="search">
    <input type="text" placeholder="菜谱名,食材名" />
    <button>搜索</button>
  </div>

  <div>
    <a href="/">首页</a>
    <a href="?page=video">视频菜谱</a>
    <a href="?page=note">笔记</a>
    <a href="?page=mall">商城</a>
    <a href="?page=live">直播</a>
  </div>

  <div id="notLogin">
    <a href="?page=login">登录</a>
  </div>
  <div id="isLogin">
    <span></span>
    <!-- &nbsp;&nbsp; -->
    <!-- <button>退出登录</button> -->
  </div>
</div>

<script src="./components/header/header.js"></script>
